# Python Lists Practice Notebook

Write your answers in the code cells below each question.

### Q1. Create an empty list named data and a list numbers with values 5,10,15,20.

In [ ]:
list1=[]
list2=[5,10,15,20]

In [ ]:
# Write your answer here
data=[]
numbers=[5,10,15,20]
print(data)
print(numbers)

### Q2. Create a list with int, float, string, boolean.

In [ ]:
# Write your answer here
mixed_list=1,2,3,0,"hello",true
print(mixed_ list)

### Q3. From nums=[10,20,30,40,50], print first and third element.

In [ ]:
# Write your answer here
num=[10,20,30,40,50]
print(num[0])
print(num[2])

### Q4. Change 30 to 300 using indexing.

In [ ]:
# Write your answer here
a=[10,20,30,40,50,60,70,80,90]
a[2]=300
print(a)

### Q5. Using negative indexing print last and second last element.

In [ ]:
# Write your answer here
print(a[-1])
print(a[-2])

### Q6. Update last element to 999 using negative index.

In [ ]:
# Write your answer here
a[-1]=999
print(a)

### Q7. Slice elements from index 2 to 6.

In [ ]:
# Write your answer here
a=[10,20,30,40,50,60,70,80,90]
result=a[2:6]
print(result)

### Q8. Print even index elements and reverse list.

In [ ]:
# Write your answer here
a=[10,20,30,40,50,60,70,80,90]
print(a[::2])
print(a[::-1])

### Q9. Append 10,20,30 one by one to empty list.

In [ ]:
# Write your answer here
a=[]
a.append(10)
a.append(20)
a.append(30)
print(a)

### Q10. Append a user entered number to a list.

In [ ]:
# Write your answer here
a=[10,20,30]
num=int(input("entera number"))
a.append(num)
print(a)

### Q11. Extend [1,2,3] with [4,5,6].

In [ ]:
# Write your answer here
a=[1,2,3]
b=[4,5,6]
a.extend(b)
print(a)

### Q12. Extend a list using another list.

In [ ]:
# Write your answer here
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
print(list1)

### Q13. Insert 100 at index 2 in [10,20,30,40].

In [ ]:
# Write your answer here
a=[10,20,30,40]
a.insert(2,100)
print(A)

### Q14. Insert 'Python' at beginning of list.

In [ ]:
# Write your answer here
a=["jawa",c++,"c"]
a.insert(0,"python")
print(a)

### Q15. Remove value 20 from [10,20,30,20].

In [ ]:
# Write your answer here
a=[10,20,30,20]
a.remove(20)
print(a)

### Q16. Try removing a value that does not exist.

In [ ]:
# Write your answer here
a=[10,20,30,40]
a.remove(50)
print(a)

### Q17. Pop last element from [1,2,3,4].

In [ ]:
# Write your answer here
a=[1,2,3,4,]
a.pop()
print(a)

### Q18. Pop element at index 1 and store it.

In [ ]:
# Write your answer here
a=[1,2,3,4]
x=a pop(1)
print(x)
print(a)

### Q19. Clear a list and print it.

In [ ]:
# Write your answer here
a=[1,2,3,4]
print(a)

### Q20. Check length before and after clear().

In [ ]:
# Write your answer here
a=[1,2,3,4]
print(len(a))
a.clear()
print(len(a))
a.clear()
print(len(a))

### Q21. Find length of [10,20,30,40,50].

In [ ]:
# Write your answer here
a=[10,20,30,40,50]
print(len(a))

### Q22. Check if list is empty using len().

In [ ]:
# Write your answer here
a=[10,20,30,40,50]
print(len(a))

### Q23. Concatenate two lists.

In [ ]:
# Write your answer here
list1=[1,2,3,]
list2=[4,5,6]
result=list1+list2
print(result)

### Q24. Repeat [1,2] three times and check membership of 2.

In [ ]:
# Write your answer here
list1=[1,2]
result=list1*3
print(result)
print(2 in result)

### Q25. Squares from 1 to 10 using list comprehension.

In [ ]:
# Write your answer here
squares=[x**x for x in range (1,11)]
print(squares)

### Q26. Numbers from 0 to 20 using list comprehension.

In [ ]:
# Write your answer here
numbers=[x for x in range(21)]
print(numbers)

### Q27. Cubes of 1–5 using loop.

In [ ]:
# Write your answer here
cubes=[]
for x in range (1,6):
  cubes.append(x**3)
  print(cubes)

### Q28. Cubes of 1–5 using list comprehension.

In [ ]:
# Write your answer here
cubes=[i**3 for i in range (1,6)]
print[cubes]

### Q29. Even numbers between 1 and 50.

In [ ]:
# Write your answer here
even_numbers=[i for i in range(1,51)if i%2==0]
print(even_num)

### Q30. Filter marks greater than 60.

In [ ]:
marks=[10,20,30,40,50,60,70,]
filtered_marks=[mark for mark in marks if m>60]
print(filtered_marks)

In [ ]:
# Write your answer here

### Q31. Label numbers Even/Odd.

In [ ]:
# Write your answer here
number =[list(range(1,11))
labels=["even"if i%2==0 else"odd"for i in numbers]
         print(labels)

### Q32. Label salaries High/Low.

In [ ]:
# Write your answer here
salaries=[25000,60000,45000,80000,30000]
labels=["high" if s>=50000 else "low for s in salaries"]
print(labels)

### Q33. Flatten [[1,2,3],[4,5,6],[7,8,9]].

In [ ]:
# Write your answer here
nested=[[1,2,3],[4,5,6],[7,8,9]]
flaten=[num sublist in nested for n sublist]
print(flaten)

### Q34. Create (x,y) pairs from 1 to 3.

In [ ]:
# Write your answer here
pairs=[(x,y)for x in range (1,4)for y in range(1,4)]
print(pairs)

### Q35. Split 'Python is very powerful'.

In [ ]:
# Write your answer here
text="python is very powerful"
words=text.split()
print(words)

### Q36. Split '10,20,30,40' into numbers.

In [ ]:
# Write your answer here
s==["10,20,30,40"]
numbers=[int (num)for num in s]
print(numbers)

### Q37. Join ['Data','Analyst','Python'] with space.

In [ ]:
# Write your answer here
words=['data','analyst',python]
sentence=' '.join(words)
print(sentence)

### Q38. Join characters using '_' separator.

In [ ]:
# Write your answer here
char=['A','B','C','D']
RESULT'_'.JOIN)(chars)
print(result)

### Q39. Filter eligible voters (age>=18).

In [ ]:
# Write your answer here
ages=[12,18,25,16,30,14]
eligible_voters=[age for age in age if age>=18]
print(eligible_voter)

### Q40. Extract positive numbers.

In [ ]:
# Write your answer here
numbers=[10,-20,30,-40,50]
positive numbers=[num for num in number if n>0]

### Q41. Convert names to uppercase.

In [ ]:
# Write your answer here
name=["ram","shyam","mohan"]
name_upper=[name.upper()for name in names]
print(name_upper)

### Q42. Add 18% GST to prices.

In [ ]:
# Write your answer here
price=[100,200,300]
new_price=[price*1.18 for price in prices]
print(new_prices)

### Q43. Convert list to tuple and set.

In [ ]:
# Write your answer here

### Q44. Remove duplicates by converting list to set.

In [ ]:
# Write your answer here
list1=[1,2,3,2,,4,1]
unique_set=set(list1)
print(unique_list)